.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
*.DS_Store
/build
/captures
/.idea/tasks.xml
/.idea/datasources.xml
/.idea/dataSources.ids
Thumbs.db
*.class
.idea/vcs.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/misc.xml
